<script setup lang="ts">
import { ref, reactive, watch, nextTick } from "vue";
class Person {
  id: number;
  fname: string;
  lname: string;
  gender: string;
  static lastID = 1;
  constructor(fname: string, lname: string, gender: string) {
    this.id = Person.lastID++;
    this.fname = fname;
    this.lname = lname;
    this.gender = gender;
  }
}
const person = reactive<Person>({ id: -1, fname: "", lname: "", gender: "" });
const msg = reactive({ fname: "", lname: "", gender: "" });
const personList = ref<Person[]>([]);
const showForm = ref(false);

const checkname = function (fname: string) {
  if (fname.trim().length == 0) {
    msg.fname = "First name is empty!!!";
    return false;
  }
  msg.fname = "";
  return true;
};

const checksurname = (lname: string) => {
  if (lname.trim().length == 0) {
    msg.lname = "Last name is empty!!!";
    return false;
  }
  msg.lname = "";
  return true;
};

function checkgender(gender: string) {
  if (gender.trim().length === 0) {
    msg.gender = "Gender is empty!!!";
    return false;
  }
  msg.gender = "";
  return true;
}

const cleaeForm = function () {
  person.fname = "";
  person.lname = "";
  person.gender = "";
  person.id = -1;

  nextTick(() => {
    msg.fname = "";
    msg.lname = "";
    msg.gender = "";
  });
};

watch(
  () => person.fname,
  (fname) => {
    checkname(fname);
  }
);

watch(
  () => person.lname,
  (lname) => {
    checksurname(lname);
  }
);

watch(
  () => person.gender,
  (gender) => {
    checkgender(gender);
  }
);

function doSubmit() {
  if (
    checkname(person.fname) &&
    checksurname(person.lname) &&
    checkgender(person.gender)
  ) {
    if (person.id < 0) {
      const p = new Person(person.fname, person.lname, person.gender);
      personList.value.push(p);
      console.log(personList.value);
    } else {
      const index = personList.value.findIndex(function (item) {
        personList.value[index].fname = person.fname;
        personList.value[index].lname = person.lname;
        personList.value[index].gender = person.gender;
      });
      console.log(personList.value[index]);
    }

    cleaeForm();
    showForm.value = false;
  }
}

const doEdit = function (p: Person) {
  person.fname = p.fname;
  person.lname = p.lname;
  person.gender = p.gender;
  person.id = p.id;
  showForm.value = true;
};

const doDelet = function (p: Person) {
  const index = personList.value.findIndex((item) => item.id == p.id);
  personList.value.splice(index, 1);
};
</script>

<template>
  <h2>Person</h2>
  <div v-if="showForm" class="form">
    <form>
      <label for="fname">Firs Name</label>
      <input type="text" id="fname" v-model="person.fname" autocomplete="off" />
      <span class="error">{{ msg.fname }}</span>

      <label for="lname">Last Name</label>
      <input type="text" id="lname" v-model="person.lname" autocomplete="off" />
      <span class="error">{{ msg.lname }}</span>

      <label for="gender">Gender</label>
      <select id="gender" v-model="person.gender">
        <option hidden selected>Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <span class="error">{{ msg.gender }}</span>
      <input type="submit" value="Submit" @click.prevent="doSubmit" />
    </form>
  </div>
  <div v-if="!showForm">
    <div style="width: 100%; text-align: right">
      <button style="width: 100px" @click="showForm = !showForm">Add</button>
    </div>
    <table id="persons">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th style="width: 250px">Operation</th>
      </thead>
      <tr v-for="(item, index) in personList" :key="index">
        <td>{{ item.id }}</td>
        <td>{{ item.fname }}</td>
        <td>{{ item.lname }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <button
            style="width: 100px; background-color: gray"
            @click="doEdit(item)"
          >
            Edit</button
          ><button
            style="width: 100px; margin-left: 1em; background-color: red"
            @click="doDelet(item)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td
          colspan="5"
          style="text-align: center"
          v-if="personList.length == 0"
        >
          No Data
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.error {
  color: red;
  font-size: smaller;
  display: block;
}

#persons {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#persons td,
#persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

#persons tr:nth-child(even) {
  background-color: #f2f2f2;
}

#persons tr:hover {
  background-color: #ddd;
}

#persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
</style>
